

# Xóa dòng 'version' đi, nó đã lỗi thời và không cần thiết
services:
  # Thụt vào 2 dấu cách
  robot-test:
    # Thụt vào 4 dấu cách
    build: .
    volumes:
      # Thụt vào 6 dấu cách
      - ./results:/app/results