version: '3.2'

services:
  # Cấp 2: Tên dịch vụ
  # Phải thụt vào 2 KHOẢNG TRẮNG so với 'services:'
  robot-test:
    # Cấp 3: Các tùy chọn
    # Phải thụt vào 2 KHOẢNG TRẮNG so với 'robot-test:'
    build: .
    volumes:
      # Dấu gạch ngang phải thẳng hàng với 'build'
      - ./results:/app/results
    environment:
      - BASE_URL=${BASE_URL}