name: Robot Framework CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:  # Cho phép chạy thủ công

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Robot Framework tests
        run: |
          robot --outputdir results demo.robot

      - name: Upload Robot Framework reports
        uses: actions/upload-artifact@v4
        with:
          name: robot-results
          path: results/
